/* Global background for the entire website */
body {
  background: url('/touristspots/images/background.jpg') no-repeat center center fixed;
  background-size: cover; /* Cover the entire viewport */
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
